<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="accountList" class="row">
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">John</h4>
                <p class="card-subtitle text-muted">SUPER ADMIN</p>
                <p class="lead">Username: john</p>
                <p class="lead">Password: john</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Emma</h4>
                <div class="card-subtitle text-muted">EMPLOYEES ADMIN</div>
                <p class="lead">Username : emma</p>
                <p class="lead">Password: emma</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Willam</h4>
                <p class="card-subtitle text-muted">DEPARTMENT_CREATE, DEPARTMENT_PAGE_VIEW, DEPARTMENT_READ</p>
                <p class="lead">Username: willam</p>
                <p class="lead">Password: willam</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Lucas</h4>
                <div class="card-subtitle text-muted">CUSTOMER_READ, CUSTOMER_PAGE_VIEW</div>
                <p class="lead">Username : lucas</p>
                <p class="lead">Password: lucas</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">Tom</h4>
                <div class="card-subtitle text-muted">No Rules</div>
                <p class="lead">Username : tom</p>
                <p class="lead">Password: tom</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>